@media (min-width: 500px){
.container{
  justify-content: stretch;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 200px 100px 500px 100px;
  grid-template-areas:
  "header header header"
  "main h1 h1"
  "main body sidebar"
  "footer footer footer"
}
}
@media (max-width: 800px) {
  .container {
    grid-template-columns: 50% 25% 25%;
    grid-template-areas:
    "header header header"
    "h1 h1 h1"
    "main main sidebar"
    "body body sidebar"
    "footer footer footer"
}
  }
.item-a{
  grid-area: header;
  background-color: red;
}
.item-b{
  grid-area: main;
  background-color: blue;
}
.item-c{
  grid-area: h1;
  background-color: green;
}
.item-d{
  grid-area: body;
  background-color: orange;
}
.item-e{
  grid-area: sidebar;
  background-color: black;
  color: yellow;
}
.item-f{
  grid-area: footer;
  background-color: red;
}

.navbar{
  background-color: pink;
  position: fixed;
  overflow: hidden;
  height: 75px;
  top: 0;
  width: 100%;
   opacity: 0.4;
   padding:10px;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 25px;
    display: inline-block;
}
.navbar:hover{
  opacity: 1;
}
