footer{
  background-color: black;
  color: white;
}
#home{
  height: 40px;
  width: 45px;
  cursor: pointer;
  display: flex;
}
#ico{
  height: 25px;
  width: 25px;
}
h1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
p{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
