body, html{
  margin: 0;
  padding: 0;
  background-color: #c9c9c9;
}
iframe{
  width: 100%;
  height: auto;
  border: none;
}

/* nav */
.appsPageNav{
  background-color: rgba(37, 116, 169, 1);
}
.header{
  background-color: rgba(37, 116, 169, 1);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3), 10px 10px 8px rgba(0, 0, 0, 0.3), 15px 15px 8px rgba(0, 0, 0, 0.3);
}
  .header h1{
    margin: 0;
    padding: 25px;
  }
  .header p{
    margin-left: 50px;
    padding: 25px;
  }
.row{
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
  .row .gameFrame{
    margin: 10px;
    height: 450px;
    width: 450px;
  }
    .row .gameFrame iframe{
      border-radius: 75px;
      height: 420px;
      box-shadow: 5px 5px 8px grey, 10px 10px 8px grey, 15px 15px 8px grey;
    }
