body, html{
  margin: 0;
  padding: 0;
  border: none;
}

/* footer */
.footer{
  background-color: rgba(37, 116, 169, 1);
  box-shadow: -10px -8px 6px -6px rgba(0, 0, 0, 0.3), -20px -16px 6px -6px rgba(0, 0, 0, 0.3);
  color: white;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 80px;
  width: 100%;
  bottom: 0;
  position: absolute;
}
  .footer p{
    margin-top: -5px;
    padding-bottom: 10px;
    font-size: 20px;
  }
  #flex{
    display: flex;
  }
    .footer h6{
      font-size: 15px;
      margin-top: -10px;
      margin-right: 30px;
    }
    .footer a{

    }
      #ico{
        height:20px;
        width: 20px;
        margin: 5px;
      }
/* footer end */
