body{
  margin: 0;
  padding: 0;
}

/* nav area */
.navbar{
  height: 80px;
  width:100%;
  padding:20px;
  color:white;
  z-index: 99;
  background-image: url('../sources/ocean_sea_foam.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.navDown:hover{
  background-color: rgba(37, 116, 169, 1) !important;
  box-shadow: 5px 5px 8px grey, 10px 10px 8px grey, 15px 15px 8px grey;
}
.navDown{
  position: sticky;
  top:0;
  background-color: rgba(37, 116, 169, .5) !important;
  background-image: none;
}
  .navbar nav{
    padding-top: 20px;
  }

  .navbar a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 25px;
  }
  .navbar a:hover{
    color: black;
    text-decoration: underline;
  }
/* nav end */
