html{
  background-color: #eeeeee
}
@media (min-width: 800px) {
.container{
  justify-content: stretch;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
  "header header header"
  "main h1 h1"
  "main body sidebar"
  "main body sidebar"
  "footer footer footer"
  }
}
@media (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "header header header"
    "h1 h1 h1"
    "main main sidebar"
    "body body sidebar"
    "footer footer footer"
  }
}
.item-a{
  grid-area: header;
  background-color: #eeeeee;
  margin-top: 60px;
}
.item-b{
  grid-area: main;
  background-color: #1a0000;
}
.item-c{
  grid-area: h1;
  background-color: #004080;
  text-align: center;

}
.item-d{
  grid-area: body;
  background-color: orange;
}
.item-e{
  grid-area: sidebar;
  background-color: red;
}
.item-f{
  grid-area: footer;
  background-color: black;
  color: white;
}

.navbar{
  background-color: grey;
  position: fixed;
  overflow: hidden;
  height: 75px;
  top: 0;
  width: 100%;
  opacity: 0.4;
  padding:10px;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 25px;
    display: inline-block;
}
.navbar:hover{
  opacity: 1;
  z-index: 5;
}
.bgslide{
  background-color: black;
  color: #fff;
  font-size: 20px;
  height: 200px;
  width: 250px;
  position: absolute;
  z-index: -1;
}
.frame{
  text-align: center;
  z-index: 1;
  margin-bottom: 20px;
}
.frame #slideinfo {
  visibility: hidden;
  background-color: black;
  color: #fff;
  font-size: 20px;
  opacity: .65;
  height: 200px;
  width: 250px;
  position: absolute;
  z-index: 1;

}
.frame:hover #slideinfo {
  visibility: visible;
}
.img{
  height: 200px;
  width: 250px;
  border: solid;
  border-radius: 20%;
  border:5px solid black;
  margin: 5px;
  z-index: 2;
  margin-top: 15px;
}
.lead{
  margin-bottom: 50px;
}
.slide-box{
  display: flex;
  flex-wrap: wrap;
  background-color: #1a0000;
}
#slideinfo{
  display: inline-block;
}
.slide-box{
  z-index: -3;
}
.carousel-iso{
  background-color: #1a0000;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-template-areas:
    "row1"
    "row2"
    "row3"
    "row4"
    "row5"
    "row6"
}
.bufferdiv{
  height:110px;
  background-color: #1a0000;
}
#ico{
  height: 25px;
  width: 25px;
}
@media (min-width: 800px) {
.billingcontainer{
  justify-content: stretch;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  grid-template-rows: auto 200px auto auto auto;
  grid-template-areas:
  "header2 header2 header2"
  "main2 h2 h2"
  "main2 body2 sidebar2"
  "main2 body2 sidebar2"
  "footer2 footer2 footer2"
  }
}
@media (max-width: 800px) {
  .billingcontainer {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "header2 header2 header2"
    "h2 h2 h2"
    "main2 main2 sidebar2"
    "body2 body2 sidebar2"
    "footer2 footer2 footer2"
  }
}
.item-a2{
  grid-area: header2;
  background-color: #eeeeee;
  margin-top: 60px;
}
.item-billing{
  grid-area: main2;
  background-color: #eeeeee;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto ;
  grid-template-areas:
  "address payment"
}
.payment{
  grid-area: payment;
  background-color: #eeeeee;
  margin-left: 5px;
}
.address{
  grid-area: address;
  background-color: #eeeeee;
  margin-right:5px;
}
.item-c2{
  grid-area: h2;
  background-color: #004080;
  text-align: center;

}
.item-d2{
  grid-area: body2;
  background-color: #eeeeee;
}
.item-e2{
  grid-area: sidebar2;
  background-color: #eeeeee;

}
.item-f2{
  grid-area: footer2;
  background-color: black;
  color: white;
}
#pbuff{
  margin-left:5px;
}
