body{
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
/* navbar */
.landingPageNavDown{
  position: sticky;
  top:0;
  background-color: rgba(37, 116, 169, .5) !important;
  background-image: none !important;
}
.landingPageNav{
  background-color: rgba(37, 116, 169, 1);
  background-image: url('../sources/ocean_sea_foam.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.landingPageNavDown:hover{
  background-color: rgba(37, 116, 169, 1) !important;
  box-shadow: 5px 5px 8px grey, 10px 10px 8px grey, 15px 15px 8px grey;
}
/* navbar end */

/* header */
.header{
  margin: 0;
  padding-left: 100px;
  padding-top: 50px;
  background-color: rgba(37, 116, 169, 1);
  background-image: url(../sources/ocean_sea_foam.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width:100%;
  height: 600px;
}
  /* header title */
  .header .title{
    font-size: 45px;
    padding-top: 30px;
    color: white;
  }
  .header p{
    font-size: 20px;
    margin-left: 60px;
    color: white;
  }
/* header end */


/* landingPage */
.landingPage{
  margin: 50px;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 8px black, 10px 10px 8px rgba(0, 0, 0, 0.5), 15px 15px 8px rgba(0,0,0,0.3);
}
  .landingPage .content{
    padding-top: 10px;
    margin: 25px;
  }

    /* aboutSection */
    .landingPage .aboutSection{
      margin-top: 50px;
      display: grid;
      grid-template-columns: 40% 50% 10%;
      grid-template-rows: auto;
      grid-template-areas:
      "picture aboutMe ."
    }
    /* aboutSection end */
      /* aboutSection grid */
      .aboutSection .profilePicture{
        grid-area: picture;
        text-align: center;
      }
        .profilePicture img{
          width: 300px;
          height: 300px;
        }
      .aboutSection .aboutMe{
        grid-area: aboutMe;
      }
        .aboutMe p{
          font-size: 25px;
        }
      /* aboutSection grid end*/

    .languages{
      margin-left: -25px;
      margin-right: -25px;
      margin-top: 80px;
      margin-bottom: 80px;
      padding: 30px;
      background-color: #b0b0b0;
      color: white;

      display: grid;
      grid-template-columns: 20% 40% 40%;
      grid-template-rows: auto;
      grid-template-areas:
      "languageHeader languageHeader languageHeader"
      ". list1 list2";
    }
      .languages h1{
        text-align: center;
        font-size: 35px;
        grid-area: languageHeader;
      }
      .languages ul{
        font-size: 25px;
      }
      .languages .list1{
        padding-left: 20%;
        grid-area: list1;
      }
      .languages .list2{
        grid-area: list2;
      }

  /* contentHeader */
  .landingPage .content .contentHeader{
    text-align: center;
  }
    .contentHeader h1{
      font-size: 30px;
    }

  /* currentProjects */
  .landingPage .content .currentProjects{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "currentProjectsHeader currentProjectsHeader"
    "project1 project2";
  }
    /* grid areas */
    .currentProjects .currentProjectsHeader{
      grid-area: currentProjectsHeader;
    }
    .currentProjects .project1{
      grid-area: project1;
    }
    .currentProjects .project2{
      grid-area: project2;
    }
    /* grid areas end */

      .project1 p{

      }
      .project1 .frame{
        text-align: center;
      }
        .project1 .frame a{

        }
        .project1 .frame img{
          height:250px;
          width:250px;
        }
      .project2 p{

      }
      .project2 .frame{
        text-align: center;
      }
        .project2 .frame a{

        }
        .project2 .frame img{
          height:250px;
          width:250px;
        }

/* landingPage end */


/* carousel */
.container{
  background-color: white;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100% !important;
  margin: 0 !important;
  max-width: none !important;
}
  .container .row{
  }
    .row .carousel{
      margin-left: 160px;
    }
      .carousel ol{

      }
      .carousel .carousel-inner{

      }
        .carousel-inner .carousel-item{

        }
          .carousel-item .d-none{
          }
            .d-none .slide-box{
              display: flex;
              flex-wrap: wrap;
            }
              .slide-box .frame{
                margin: 15px;
              }
                .slide-box .frame .bgslide{
                  height: 250px;
                  width: 250px;
                  position: absolute;
                }
                .bgslide:hover{
                  background-color: rgba(0,0,0,.7);
                }
                .slide-box .frame a{
                  height: 250px;
                  width: 250px;
                  padding: 10px;
                  margin: 10px;
                  text-decoration: none;
                  font-size: 25px;
                  position: absolute;
                  background-color: rgba(0,0,0,0);
                  color:  rgba(0,0,0,0);
                }
                  .slide-box .frame a:hover{
                    color:white
                  }
                .slide-box .frame p{
                  font-size: 20px;
                  margin: 0;
                }
                .slide-box .frame img{
                  height: 250px;
                  width: 250px;
                }
      #prev{
        margin-left: -150px;
        color:black;
      }
      #prev:hover{
        background-color: rgba(0,0,0,.5);
      }
        #prev-btn{
          background-color: black;
        }
        #prev:hover #prev-btn{
          background-color: rgba(0,0,0,0);
        }
      #next{
        margin-right: -150px;
        color:black;
      }
      #next:hover{
        background-color: rgba(0,0,0,.5);

      }
        #next-btn{
          background-color: black;
        }
        #next:hover #next-btn{
          background-color: rgba(0,0,0,0);
        }
/* end carousel */
