body{
  background-color: #ffffcc;
  border-style: ridge;
  border-width: 10px;
}
.bgslide{
  background-color: black;
  color: #fff;
  font-size: 20px;
  padding: 5px 0;
  border-radius: 6px;
  height: 200px;
  width: 250px;
  position: absolute;
  margin-left: 70px;
  margin-top: 10px;
  z-index: -1;
}
.carousel-control-next{
  color: white;
  background-color: black;
  width:10px;
}
.carousel-control-prev{
  background-color: black;
  color: white;
  width: 1px;
}

footer{
  background-color: black;
  color: white;
  margin-top: 20px;
}
.frame{
  text-align: center;
  z-index: 1;
}
.frame #slideinfo {
  visibility: hidden;
  background-color: black;
  color: #fff;
  font-size: 20px;
  padding: 5px 0;
  border-radius: 6px;
  opacity: .65;
  height: 200px;
  width: 250px;
  position: absolute;
  z-index: 1;
  margin-left: 70px;
  margin-top: 10px;
}
.frame:hover #slideinfo {
  visibility: visible;
}
h1{
  text-align: center;
  font: comic;
}
.img{
  height: 200px;
  width: 250px;
  border: solid;
  border-radius: 20%;
  border:5px solid black;
  margin-left: 60px;
  margin-bottom: 10px;
  z-index: 2;
}
.lead{
  margin-bottom: 50px;
}
.slide-box{
  display: flex;
  flex-wrap: wrap;
  background-color: #1a0000;
}
#slideinfo{
  display: inline-block;
}
.slide-box{
  z-index: -3;
}
