#answer{
  color: white;
    z-index: 2;
    font-size: 18px;
    bottom: 0;
    position: absolute;
    width: 150px;
    height: 120px;
    transform: translate(-70px, -15px);
}
body{
  background-color: #ffe6e6;
}
#eightballDiv{
  background-color: #000000;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  z-index: -1;
  margin-top: 120px;
  margin-left: 100px;
  cursor: pointer;
}
h1{
  text-align: center;
}
h4{
    text-align: right;
    height: 200px;
    width: 200px;
    position: absolute;
}
#home{
  background-color: black;
  color: white;
}
p{
  text-align: center;
}
#smallball{
  height: 230px;
  width: 230px;
  background-color: #1a1a1a;
  border-radius: 50%;
  position: absolute;
  margin-top: 120px;
  margin-left: 70px;
  opacity: .7;
}
#textbox{
  text-align: center;
  height: 25px;
  width: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#triangle{
    width: 0;
   height: 0;
   border-left: 100px solid transparent;
   border-right: 100px solid transparent;
   border-top: 150px solid blue;
   margin-right: 20px;
   margin-top: 60px;
   z-index: 1;
   position: absolute;
   transform: translate(20px, 10px);
   text-align: center;
}
/////////////////////////////////////////////////////////
/* animation */
@-webkit-keyframes shakeball {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-40px) }
    60% {-webkit-transform: translateY(20px);}
    80% {-webkit-transform: translateY(-20px);}
    99%% {-webkit-transform: translateY(5px);}
}
@keyframes shakeball {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-40px);}
    60% {transform: translateY(20px);}
    80% {-webkit-transform: translateY(-20px);}
    99% {-webkit-transform: translateY(5px);}
}


.shakeball {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: shakeball;
    animation-name: shakeball;
}
/////////////////////////////////////////////////////////////////////
/* triangle turning animation doesnt work atm */
/* @-webkit-keyframes turntriangle {
  0%, 20%, 50%, 80%, 100% {transform: translateZ(0);}
  40% {transform: translateZ(-40px);}
  60% {transform: translateZ(20px);}
  80% {-webkit-transform: translateZ(-20px);}
  99% {-webkit-transform: translateZ(5px);}
}
@keyframes turntriangle {
    0%, 20%, 50%, 80%, 100% {transform: translateZ(0);}
    40% {transform: translateZ(-40px);}
    60% {transform: translateZ(20px);}
    80% {-webkit-transform: translateZ(-20px);}
    99% {-webkit-transform: translateZ(5px);}
}
.turntriangle {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: turntriangle;
    animation-name: turntriangle;
  } */







/* -webkit-transition-delay: 2s;
-moz-transition-delay: 2s;
-o-transition-delay: 2s;
transition-delay: 2s;
-webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
-o-transition-duration: 1s;
transition-duration: 1s;
-webkit-transition-property: display;
-moz-transition-property: display;
-o-transition-property: display;
transition-property: display; */
